<!DOCTYPE html>
<html lang="de-DE" itemscope itemtype="http://schema.org/Article">
<head>
	@{
		await this.Html.RenderPartialAsync("Layout/Head").ConfigureAwait(false);
		await this.RenderSectionAsync("Meta", @* ReSharper disable once ArgumentsStyleLiteral *@ required: false).ConfigureAwait(false);
		@this.Html.Raw(ViewData["Meta"])
		await this.RenderSectionAsync("Links", @* ReSharper disable once ArgumentsStyleLiteral *@ required: false).ConfigureAwait(false);
		@this.Html.Raw(ViewData["Links"])
		await this.Html.RenderPartialAsync("Layout/Styles").ConfigureAwait(false);
		await this.RenderSectionAsync("Styles", @* ReSharper disable once ArgumentsStyleLiteral *@ required: false).ConfigureAwait(false);
		@this.Html.Raw(ViewData["Styles"])
	}
</head>
<body class="primary-100-bg">
@base.RenderBody()
@{
	@this.Html.Raw(ViewData["TransferData"])
	await this.Html.RenderPartialAsync("Layout/Scripts").ConfigureAwait(false);
	await this.RenderSectionAsync("Scripts", @* ReSharper disable once ArgumentsStyleLiteral *@ required: false).ConfigureAwait(false);
	@this.Html.Raw(ViewData["Scripts"])
}
</body>
</html>